.button-container {
    margin-top: 20px;
}

.button-decrement {
    min-width: 30px;
    min-height: 30px;
    margin-right: 15px;
    background-color: red;
}

.button-increment {
    min-width: 30px;
    min-height: 30px;
    margin-right: 15px;
    background-color: greenyellow;

}